<div class="container-fluid">
    <div class="row g-3">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <input type="name" placeholder="Enter name" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg4 col-xl4 col-xxl-4">
            <select name="" id="" class="form-control">
                <option value="">select blood group</option>
                <option value="">A+</option>
                <option value="">A-</option>
                <option value="">B+</option>
                <option value="">B-</option>
                <option value="">AB+</option>
                <option value="">AB-</option>
            </select>
        
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <input type="date" placeholder="Date Of Birth" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <input type="date" placeholder="Last Donation Date" class="form-control">
        </div>
       
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <input type="text" placeholder="previous diseases" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <input type="date" placeholder="Last Vaccination Date" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Address"></textarea>
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <input type="number" placeholder="Pincode" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl62">
            <input type="number" placeholder="Mobile" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <input type="email" placeholder=" Email" class="form-control">
        </div>
        
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class=" d-flex align-items-center justify-content-center">
                <button class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
